.dropdown {
  display: flex;
  width: 100%;
}

.dropdown button,
.label {
  width: 50%;
  background-color: #f1e9db;
  color: #07020d;
  transition: 0.2s;
  font-family: "Dobra";
  padding: 2vh 0;
  text-align: center;
  font-size: larger;
}

.dropdown button:hover,
.label:hover {
  background-color: #07020d;
  color: #f1e9db;
  transition: 0.2s;
}

.dropdown button:active,
.label:active {
  background-color: #07020d63;
  color: #07020d;
  transition: 0.2s;
}

.dropdown input {
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
